* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .home-link:visited {
  color: rgb(151, 78, 135);
}

.about-link:visited {
  color: rgb(151, 78, 135);
}

.servis-link:visited {
  color: rgb(151, 78, 135);
} */

.about-link:hover {
  font-size: 0.95rem;
  opacity: 0.8;
  text-shadow: 0px 0.1px rgb(0, 0, 0);
}

.home-link:hover {
  font-size: 0.95rem;
  opacity: 0.8;
  text-shadow: 0px 0.1px rgb(0, 0, 0);
}

.servis-link:hover {
  font-size: 0.95rem;
  opacity: 0.8;
  text-shadow: 0px 0.1px rgb(0, 0, 0);
}

header div h1 {
  margin-left: 0.5rem;
}

.sol-bas {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  word-spacing: 0px;
}

.baslık {
  border-bottom: 0.2rem solid rgb(169, 80, 139);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(53, 66, 74);
  color: azure;
  padding: 20px;
}

.baslık a {
  color: white;
  text-decoration: none;
  padding: 5px;
  gap: 1rem 5rem;
  margin-right: 0.5rem;
}

.baslık h1 .mor {
  color: rgb(169, 80, 139);
}

.main-div {
  background-image: url(./images/showcase.jpg);
  height: 50vh;
  position: relative;
}

.write-pic {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 4rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  text-align: center;
  color: azure;
}

.middle-bar {
  border-top: px solid rgb(169, 80, 139);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(53, 66, 74);
  padding: 15px;
}

.input-box {
  padding: 10px 80px;
  text-align: center;
}

.btn-box {
  padding: 12px 17px;
  border-radius: 0rem;
  border-style: none;
  background-color: rgb(232, 73, 29);
  color: antiquewhite;
  box-shadow: 1px 1px black;
  margin-right: 1rem;
}

.btn-box:hover {
  color: rgb(151, 78, 135);
  font-weight: 500;
  font-size: 0.85rem;
  background-color: antiquewhite;
  cursor: pointer;
  box-shadow: 1px 1px black;
  opacity: 0.9;
}

.middle-bar h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: azure;
  margin-left: 1rem;
}

.alt-section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  margin-top: 2rem;
}

.dil {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 900;
  letter-spacing: 0.5px;
}

.dil-img:hover {
  width: 24.7%;
}

.dil:hover {
  color: black;
  font-weight: 900;
  font-size: 1.01rem;
}

.dil:active {
  color: black;
}

.info-dil {
  margin-top: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 0.85rem;
  letter-spacing: 0.1px;
}

.html5,
.css,
.graphic {
  flex-basis: 33%;
}

.foot {
  margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.9rem;
  background-color: rgb(53, 66, 74);
  gap: 1rem;
}

.foot-bas {
  font-family: Arial, Helvetica, sans-serif;
  color: azure;
  font-size: 0.8rem;
}

.foot-img {
  width: 60%;
  position: relative;
  left: 60px;
  right: 0;
}

.abt-main {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5rem;
  margin-top: 2rem;
}

.abt-info {
  flex: 60%;
  margin-left: 2%;
}

.about-info {
  color: azure;
  background-color: rgb(53, 66, 74);
  padding: 1rem;
}

.abt-we {
  flex: 20%;
  padding: 2%;
  margin-right: 2%;
  background-color: rgb(53, 66, 74);
  color: azure;
}

.abt-we1 {
  display: flex;
  flex-direction: column;
  flex: 25%;
  padding: 3%;
  margin-right: 2%;
  background-color: rgb(53, 66, 74);
  color: azure;
}

.form-bx {
  width: 20rem;
  margin-bottom: 0.2rem;
}

.form-label {
  margin-top: 1rem;
}

.form-btn {
  background-color: rgb(232, 73, 29);
  color: antiquewhite;
  border-style: none;
  padding: 0.6rem 0.8rem;
}

.form-btn:hover {
  color: rgb(151, 78, 135);
  font-weight: 500;
  font-size: 0.85rem;
  background-color: antiquewhite;
  cursor: pointer;
  box-shadow: 1px 1px black;
  opacity: 0.9;
}

form h2 {
  margin-bottom: 0.5rem;
}

.abt-we1 textarea {
  resize: none;
}

.abt-info .bas-about {
  margin-bottom: 0.5rem;
}

.servis-info {
  background-color: rgb(155, 155, 155, 0.2);
  border-style: none;
  border-radius: 0.1rem;
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  padding: 0.7rem;
  box-shadow: 0.1px 0.1px black;
}

.abt-main-1 {
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 5rem;
  margin-top: 2rem;
}
